.inputField{
     padding: 1rem 1.25rem;
     width: 100%;
     border-radius: 1rem;
     font-weight: 900;
     font-size: 1.3rem;
     border-style: none;
     font-family: sans-serif;
}
.err{
    
    color: red
}
@media(max-width:480px){
    .inputField{
        padding: 0.5rem 0.6rem;  
        
    }
}