*{
  padding: 0;
  margin: 0;
    box-sizing: border-box;
}
:root{
  --bg-image: url(./assets/photo.png);
  --min-height:100%
}
html,body {
  height: 100%;
  width: 100%;
}
body {
background-image: var(--bg-image);
background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
min-height: var(--min-height);             
}